body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e1e1;
}

.form-control:focus {
    border-color: #00cb82;
}

.form-control,
.btn {
    border-radius: 3px;
}

.form-header {
    margin: -30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    color: #000000;
}

.form-header h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 10px;
    font-family: 'Pacifico', sans-serif;
}

.form-header p {
    margin: 20px 0 15px;
    font-size: 17px;
    line-height: normal;
    font-family: 'Courgette', sans-serif;
}

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 230px 0;
}

.signup-form form {
    color: #000000;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form label {
    font-weight: normal;
    font-size: 13px;
}

.signup-form input[type="checkbox"] {
    margin-top: 2px;
}

.agreement-checkbox{
	padding-left: 50px;
}

.signup-form .btn {
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: none;
    min-width: 200px;
	color: #2882ff;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: #f4f4f4;
    outline: none;
}

.signup-form a {
    color: #9e9e9e;
}

.signup-form a:hover {
    text-decoration: underline;
}